body, div, p, ol, ul, li, a {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
    padding-top: 45px;
    padding-bottom: 50px;
    width: 320px;
}

a {
    text-decoration: none;
}
img {
    border: none;
}
