.house-search-total {
    text-align: center;
    font-size: 16px;
    color: #ff9605;
    height: 54px;
    line-height: 54px;
}

.house-search-operation {
    overflow: hidden;
    margin-top: 10px;
}

.house-search-operation a {
    display: block;
    float: left;
    width: 132px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    margin-left: 18px;
}

.house-search-clear {
    background-color: #ed8900;
}

.house-search-query {
    background-color: #54a717;
}
