/*
 * 登陆相关css
 */
.login {
    background-color: #f3f2f8;
    overflow: hidden;
    padding-bottom: 40px;
}

.login .logo {
    background-image: url("icon/user.png");
    background-repeat: no-repeat;
    background-size: 119px 119px;
    background-position: center;
    margin-top: 32px;
    height: 119px;
    margin-bottom: 20px;
}

.login .username,
.login .password
{
    width: 277px;
    height: 45px;
    line-height: 45px;
    margin-left: 21px;
    margin-bottom: 12px;
    border: solid 1px #d5d5d5;
    background-color: #fff;
}

.login .username input,
.login .password input
{
    border: none;
    outline: none;
    background: transparent;
    color: #5f6366;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}

.login .username label,
.login .password label {
    margin-left: 14px;
    display: block;
}

.login .opr-login,
.login .opr-register {
    width: 277px;
    height: 45px;
    line-height: 45px;
    margin-left: 21px;
    margin-bottom: 12px;
    text-align: center;
}
.login .opr-login {
    margin-top: 44px;
    background-color: #63c51a;
    color: #fff;
}
.login .opr-register {
    border: solid 1px #ff9704;
    background-color: #fff;
    color: #ff9704;
}
