.home-page {
    padding: 8px;
    background-color: #eee;
    overflow: hidden;
}
.home-page a {
    float: left;
}

.home-page .car {
    width: 151px;
    height: 72px;
    background-size: 151px 72px;
    margin-right: 5px;
    background-image: url("icon/car.png");
}
.home-page .car:active {
    background-image: url("icon/car_active.png");
}

.home-page .house {
    width: 148px;
    height: 72px;
    background-size: 148px 72px;
    background-image: url("icon/house.png");
}
.home-page .house:active {
    background-image: url("icon/house_active.png");
}

.home-page .news {
    width: 98px;
    height: 72px;
    background-size: 98px 72px;
    background-image: url("icon/news.png");
    margin-top: 5px;
    margin-right: 5px;
}
.home-page .news:active {
    background-image: url("icon/news_active.png");
}

.home-page .dryclean {
    width: 98px;
    height: 72px;
    background-size: 98px 72px;
    background-image: url("icon/ganxi.png");
    margin-top: 5px;
    margin-right: 5px;
}
.home-page .dryclean:active {
    background-image: url("icon/ganxi_active.png");
}

.home-page .activity {
    width: 98px;
    height: 72px;
    background-size: 98px 72px;
    background-image: url("icon/huodong.png");
    margin-top: 5px;
}
.home-page .activity:active {
    background-image: url("icon/huodong_active.png");
}

.home-page .entertainment {
    width: 148px;
    height: 72px;
    background-size: 148px 72px;
    background-image: url("icon/game.png");
    margin-top: 5px;
    margin-right: 5px;
}
.home-page .entertainment:active {
    background-image: url("icon/game_active.png");
}

.home-page .recruit {
    width: 151px;
    height: 72px;
    background-size: 151px 72px;
    background-image: url("icon/job.png");
    margin-top: 5px;
}
.home-page .recruit:active {
    background-image: url("icon/job_active.png");
}

.home-page .wide-pic {
    margin-top: 5px;
}

.home-page .wide-pic img {
    margin-top: 5px;
    width: 304px;
}
