/* Space out content a bit */
body {
    /*
    background-image: url("bg/bg.png");
    */
    padding-bottom: 50px;
    font-family: 黑体;
}

a, a:hover, a:active {
    text-decoration: none;
    color: #999;
}
/*
 * 首页轮播点点往左
 * */
#indexAd .carousel-indicators {
    width: auto;
    left: 10px;
    margin-left: 0;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow:hidden;
    text-align: center;
}

.row .icon-btn {
    display: block;
    float: left;
    margin: 0;
    padding: 10px 0;
}

.row p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.row1 .icon-btn:not(:last-child) {
    border-right: solid 1px #eee;
}

.row1 .icon-btn {
    width: 25%;
}

.row2 {
    background-color: #eee;
}

.row2 .icon-btn {
    width: 33.33%;
    padding: 5px;
    padding-right: 0px;
}

.row2 .icon-btn:last-child {
    padding-right: 5px;
}

.row2 div {
    margin: 0 auto;
    padding: 10px 0;
    background-color: #fff;
}

.row3 img {
    width: 100%;
    height: auto;
    display: block;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #fff;
    border-top: solid 1px #ccc;
}

.navbar a {
    width: 20%;
    margin: 0;
    padding: 5px 15px;
    float:left;
    border-right: solid 1px #ccc;
    text-align: center;
}
.navbar p {
    margin: 0px;
}
