.news-detail {
    margin:17px 15px;
}
.news-detail .news-detail-title{
    text-align: center;
    font-size: 16px;
    color: #353535;
}
.news-detail .news-detail-source{
    text-align: center;
    color: #a6a7a9;
    font-size: 8px;
    margin-top: 10px;
    margin-bottom: 16px;
    vertical-align: middle;
}
.news-detail .news-detail-pic {
    width: 290px;
    height: 145px;
}
.news-detail .news-detail-content {
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    white-space: pre-wrap;
    color: #5f6267;
}
