#news-slider .dots{
    left: auto;
    right: 0;
    bottom: 5px;
}
.normal-news-container {
    display: block;
    padding: 16px 0;
    margin: 0 16px;
    overflow: hidden;
    border-bottom: solid 1px #d1d1d1;
}

.normal-news-container img {
    float: left;
    height: 70px;
    width: 70px;
}

.normal-news-container .news-text {
    margin-left: 85px;
}

.normal-news-container h4 {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin-bottom: 12px;
    color: #272727;
}

.normal-news-container p {
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
    color: #5f6366;
}
