.register {
    background-color: #f3f2f8;
    overflow: hidden;
    padding-bottom: 40px;
}

.register .logo {
    background-image: url("icon/user.png");
    background-repeat: no-repeat;
    background-size: 119px 119px;
    background-position: center;
    margin-top: 32px;
    height: 119px;
    margin-bottom: 20px;
}

.register .username,
.register .password,
.register .confirmPassword
{
    width: 277px;
    height: 45px;
    line-height: 45px;
    margin-left: 21px;
    margin-bottom: 12px;
    border: solid 1px #d5d5d5;
    background-color: #fff;
}

.register .username input,
.register .password input,
.register .confirmPassword input
{
    border: none;
    outline: none;
    background: transparent;
    color: #5f6366;
    height: 45px;
    line-height: 45px;
}

.register .username label,
.register .password label,
.register .confirmPassword label {
    margin-left: 14px;
    display: block;
}

.register .opr-register,
.register .opr-register {
    width: 277px;
    height: 45px;
    line-height: 45px;
    margin-left: 21px;
    margin-bottom: 12px;
    text-align: center;
}
.register .opr-register {
    margin-top: 44px;
    background-color: #63c51a;
    color: #fff;
}
.register .opr-register {
    border: solid 1px #ff9704;
    background-color: #fff;
    color: #ff9704;
}
