.scrollnews {
    height: 30px;;
    background-color: #222;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 16;
}

.marquee-item {
    display:block;
    height: 1em;
    margin: 5px 0;
    color: #fff;
}
