.nav-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 320px;
    overflow: hidden;
    border-top: solid 1px #cfd1cf;
    background-color: #e8e8e8;
}

.nav-bottom a {
    width: 25%;
    display: block;
    float: left;
    height: 50px;
    text-decoration: none;
    overflow: hidden;
}
.nav-bottom img {
    margin-top: 5px;
}

.nav-bottom .home img {
    width: 27px;
    margin-left: 20px;
}

.nav-bottom .cs img {
    width: 27px;
    margin-left: 20px;
}

.nav-bottom .uc img {
    width: 55px;
    margin-left: 8px;
}

.nav-bottom .publish img {
    width: 55px;
    margin-left: 8px;
}
