.list {
    list-style: none;
}

.list .list-item {
    list-style: none;
    height: 50px;
    border-bottom: solid 1px #d1d1d1;
    padding-right: 18px;
}

.list .arr {
    padding-right: 39px;
    background-image: url("img/arr.png");
    background-size: 8px 14px;
    background-position: 300px 17px;
    background-repeat: no-repeat;
}
