<div class="nav-bottom" type="">
    <a href="#/" class="home" ng-class="{cur:type=='home'}">
        <img ng-show="type!='home'" src="icon/btn_home_normal.png">
        <img ng-show="type=='home'" src="icon/btn_home_selected.png">
    </a>
    <a ng-click="goCustom()" class="cs" ng-class="{cur:type=='cs'}">
        <img ng-show="type!='cs'" src="icon/btn_customservice_normal.png">
        <img ng-show="type=='cs'" src="icon/btn_customservice_selected.png">
    </a>
    <a ng-click="goUc()" class="uc" ng-class="{cur:type=='uc'}">
        <img ng-show="type!='uc'" src="icon/btn_personalcenter_normal.png">
        <img ng-show="type=='uc'" src="icon/btn_personalcenter_selected.png">
    </a>
    <a ng-click="goPublish()" class="publish" ng-class="{cur:type=='publish'}">
        <img ng-show="type!='publish'" src="icon/btn_publish_normal.png">
        <img ng-show="type=='publish'" src="icon/btn_publish_selected.png">
    </a>
</div>
