<div class="car-detail">
    <div class="car-detail-title">
        {{data.title}}
    </div>
    <div class="car-detail-info">
        <div class="car-detail-price">
            <div>
                报价
            </div>
            <div>
                {{data.price}}
            </div>
        </div>
        <div>
            <div>
                <span>里程：</span>
                <span>{{data.mileage}}</span>
            </div>
            <div>
                <span>购买日期：</span>
                <span>{{data.purchase_date}}</span>
            </div>
            <div>
                <span>买时价格：</span>
                <span>{{data.purchase_price}}</span>
            </div>
        </div>
    </div>
    <div class="car-detail-pic">
    </div>
    <div class="car-detail-detail-info">
    </div>
</div>
