<top-nav-bar type="search" url="#/">
二手车
</top-nav-bar>
<div class="car-index">
    <div class="car-query-result">
        <div ng-show="!result.length" class="car-query-no-result">
        无结果
        </div>
        <a href="#/carDetail/{{item.id}}" class="car-item" ng-repeat="item in result">
            <div class="car-item-img-container">
                <img ng-src="{{item.pic}}">
            </div>
            <div class="car-info-row1">
                <span>{{item.brand}}</span>
                <span>{{item.displacement}}</span>
                <span>{{item.gearbox}}</span>
            </div>
            <div class="car-info-row2">
                <span>{{item.mileage}}/{{item.purchase_date}}上牌</span>
            </div>
            <div class="car-info-row3">
                <span>{{item.price}}</span>
            </div>
        </a>
    </div>
</div>
<bottom-nav-bar>
</bottom-nav-bar>
