<top-nav-bar type="back" >
二手房租房详情
</top-nav-bar>
<div class="house-detail">
    <div class="house-detail-title">
        {{data.title}}
    </div>
    <div class="house-detail-attr">
        <span class="house-detail-housing-type">
            {{data.housing_type}}
        </span>
        <span>|</span>
        <span class="house-detail-decorate">
            {{data.decorate}}
        </span>
        <span>|</span>
        <span class="house-detail-toward">
            {{data.toward}}
        </span>
    </div>
    <div>
        <div class="house-detail-price">
            <div class="house-detail-price-row1">
               售价
            </div>
            <div class="house-detail-price-row2">
                {{data.price}}
            </div>
        </div>
        <div class="house-detail-info">
            <div>
                <span>户型:</span>
                <span>{{data.housing_type}}</span>
            </div>
            <div>
                <span>产权:</span>
                <span>{{data.property_right}}</span>
            </div>
            <div>
                <span>面积:</span>
                <span>{{data.area}}</span>
            </div>
        </div>
    </div>
    <slider data="pic_list">
    </slider>
    <div class="house-detail-detail-info">
        <table>
            <tbody>
                <tr>
                    <td>
                        <span class="house-detail-table-title">
                            单价:
                        </span>
                        <span class="house-detail-table-content">
                            {{data.unit_price}}
                        </span>
                    </td>
                    <td>
                        <span class="house-detail-table-title">
                            月供:
                        </span>
                        <span class="house-detail-table-content">
                            {{data.monthly_payment}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="house-detail-table-title">
                            首付:
                        </span>
                        <span class="house-detail-table-content">
                            {{data.down_payment}}
                        </span>
                    </td>
                    <td>
                        <span class="house-detail-table-title">
                            楼层:
                        </span>
                        <span class="house-detail-table-content">
                            {{data.floor}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="house-detail-table-title">
                            年代:
                        </span>
                        <span class="house-detail-table-content">
                            {{data.time}}
                        </span>
                    </td>
                    <td>
                        <span class="house-detail-table-title">
                            朝向:
                        </span>
                        <span class="house-detail-table-content">
                            {{data.toward}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="house-detail-table-title">
                            地址:
                        </span>
                        <span class="house-detail-table-content-long">
                            {{data.address}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="house-detail-table-title">
                            联系方式:
                        </span>
                        <span class="house-detail-table-content-long">
                            {{data.contact}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="house-detail-table-title">
                            房屋特色:
                        </span>
                        <span class="house-detail-table-content-long">
                            {{data.characteristics}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
