<div class="login">
    <div class="login-row login-title">
        账号登陆
    </div>
    <div class="login-row username">
        <label>
            <span>昵称:</span>
            <input ng-model="username" placeholder="请输入昵称"/>
        </label>
    </div>
    <div class="login-row password">
        <label>
            <span>密码:</span>
            <input ng-model="password" type="password"/>
        </label>
    </div>
    <div class="login-row opr-login">
        <a ng-click="login()">登陆</a>
    </div>
    <div class="login-row opr-register">
        <a ng-click="register()">注册</a>
    </div>
</div>
