<top-nav-bar>
上乘生活
</top-nav-bar>
<!-- slidek news -->
<slider data="pic_ad" link="ad">
</slider>

<div class="home-page">
    <div>
        <a href="#/carIndex" class="icon-btn-1 car"></a>
        <a href="#/houseIndex" class="icon-btn-1 house"></a>
        <a href="#/news" class="icon-btn-2 news"></a>
        <a href="#/payMenu" class="icon-btn-2 dryclean"></a>
        <a href="#/activity" class="icon-btn-2 activity"></a>
        <a href="#/" class="icon-btn-1 entertainment"></a>
        <a href="#/employee" class="icon-btn-1 recruit"></a>
    </div>
    <div class="wide-pic" ng-repeat="item in pic_show_ad">
        <a ng-href="#ad/{{item.id}}">
            <img ng-src="{{item.pic}}">
        </a>
    </div>
</div>
<bottom-nav-bar type="home">
</bottom-nav-bar>
