<div id="carousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic"
        data-slide-to="{{$index}}"
        ng-class="{active:!$index}"
        ng-repeat="item in data.banner">
        </li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div ng-class="{item:true,active:!$index}" ng-repeat="item in data.banner">
            <img ng-src="{{item.pic}}">
            <div class="carousel-caption">
                {{item.title}}
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" data-target="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-target="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div class="normalNews">
    <a ng-repeat="item in data.normal" ng-href="{{item.url}}">
        <img ng-src="{{item.pic}}"/>
        <h4>{{item.title}}</h4>
        <p>{{item.text}}</p>
    </a>
</div>
