<top-nav-bar type="back">
新闻
</top-nav-bar>
<!-- slide news -->
<slider id="news-slider" data="data.banner" link="/picdetail">
</slider>

<!-- normal news -->
<div class="normalNews">
    <a class="normal-news-container" ng-href="#/newsdetail/{{item.id}}" ng-repeat="item in data.normal">
        <img class="" ng-src="{{item.pic}}"/>
        <div class="news-text">
            <h4>{{item.title}}</h4>
            <p>{{item.abstract}}</p>
        </div>
    </a>
</div>
<bottom-nav-bar>
</bottom-nav-bar>
