<!-- slide news -->
<div id="carousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic"
        data-slide-to="{{$index}}"
        ng-class="{active:!$index}"
        ng-repeat="item in data.banner">
        </li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div ng-class="{item:true,active:!$index}" ng-repeat="item in data.banner">
            <a ng-href="#/picnewsdetail/{{item.id}}">
                <img ng-src="{{item.pic}}">
            </a>
            <div class="carousel-caption">
                {{item.title}}
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" data-target="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-target="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<!-- normal news -->
<div class="normalNews">
    <a ng-href="#/textnewsdetail/{{item.id}}" ng-repeat="item in data.normal">
    <div class="media news-item">
        <img class="pull-left media-object" ng-src="{{item.pic}}"/>
        <div class="media-body">
            <h4 class="media-heading">{{item.title}}</h4>
            <p>{{item.text}}</p>
        </div>
    </div>
    </a>
</div>
