<top-nav-bar type="back">
干洗
</top-nav-bar>
<!-- 选择代缴项目-->
<div class="pay-index">
    <!--
    <p class="pay-title">代缴项目<span>*</span></p>
    <div class="pay-type">
        <label>
            <input type="checkbox" ng-model="water"/>
            <span>水费</span>
        </label>
        <label>
            <input type="checkbox" ng-model="electronic"/>
            <span>电费</span>
        </label>
    </div>
    -->
    <!--填写地址-->
    <p class="pay-title">地址</p>
    <div class="pay-addr">
        <div class="pay-prov">
            <span>安徽省</span>
            <span class="pay-select-icon"></span>
        </div>
        <div class="pay-city">
            <span>宁国市</span>
            <span class="pay-select-icon"></span>
        </div>
        <select-set data="communityList.data" title="communityList.label" value="communityList.value"></select-set>
        <textarea class="pay-addr-text" ng-model="addr" placeholder="详细地址" required></textarea>
    </div>
    <div>
    </div>
    <!--填写联系方式-->
    <p class="pay-title">联系方式</p>
    <div class="pay-contact">
        <input ng-model="name" placeholder="姓氏"/>
        <radio-set class="pay-contact-sex" data="sexData" value="sex">
        </radio-set>
        <input ng-model="phone" class="phone" placeholder="手机号码"/>
    </div>
    <!--上门服务时间-->
    <p class="pay-title">上门服务时间</p>
    <div class="pay-time">
        <select-set data="timeList.data" title="timeList.label" value="timeList.value"></select-set>
    </div>
    <!--留言-->
    <p class="pay-title">留言</p>
    <div class="pay-message">
        <textarea ng-model="message"></textarea>
    </div>
    <!--提交-->
    <div class="pay-submit">
        <a ng-click="submit()">确认提交</a>
    </div>
    <dialog type="alert" id="alertMessage">
    </dialog>
</div>
