<!-- slide news -->
<div id="picDetail">
    <!-- Wrapper for slides -->
    <div class="pic-item" ng-repeat="item in data" ng-show="$index==showNum">
        <div class="img-container">
            <img ng-src="{{item.pic}}">
        <div>
        <div class="pic-describe">
            {{$index+1}}/{{data.length}}  {{item.text}}
        </div>
    </div>
    <!--
    <div class="operation">
        <div class="arr left-arr" ng-click="clickLeft()">
            <span></span>
        </div>
        <div class="arr right-arr" ng-click="clickRight()">
            <span></span>
        </div>
    </div>
    -->
</div>
