<top-nav-bar>
上乘生活
</top-nav-bar>
<div class="register">
    <div class="logo">
    </div>
    <div class="username">
        <label>
            <span>昵称:</span>
            <input ng-model="username" placeholder="请输入昵称"/>
        </label>
    </div>
    <div class="password">
        <label>
            <span>密码:</span>
            <input ng-model="password" placeholder="请输入密码" type="password"/>
        </label>
    </div>
    <div class="confirmPassword">
        <label>
            <span>确认:</span>
            <input ng-model="confirmPassword" placeholder="请确认密码" type="password"/>
        </label>
    </div>
    <div class="opr-register" ng-click="register()">
        <a>注册</a>
    </div>
    <dialog type="alert" id="alertMessage">
    </dialog>
</div>
<bottom-nav-bar type="uc">
</bottom-nav-bar>
